<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :avatar_url %><br>
    <div class="js-mountable-file-server-input">
      <%= f.text_field :avatar_url, type: :file, data: { endpoint: '/uploads', type: 'public' } %>
      <%= f.hidden_field :avatar_url, type: :hidden %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
